body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background-color: black;
	color: white;
	display: flex;
	flex-direction: column;
}

.top-frame {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
}

.menu-btn {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 1.5rem;
	cursor: pointer;
	margin-left: 1rem;
}

.menu-btn div {
	width: 1.5rem;
	height: 0.25rem;
	background-color: white;
}

.left-frame {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 1rem;
	width: 20%;
	background-color: #222;
	height: calc(100vh - 250px);
	overflow-y: auto;
}

.menu-links {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.menu-links a {
	color: white;
	padding: 0.5rem;
	text-decoration: none;
}

.menu-links a:hover {
	background-color: white;
	color: black;
}

.menu-links.active {
	width: auto;
}

.right-frame {
	width: 80%;
	height: calc(100vh - 250px);
	padding: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

iframe {
	width: 100%;
	height: 100%;
	border: none;
}
