<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        background-color: black;
        color: white;
      }
      table {
        width: 80%;
        border-collapse: collapse;
      }
      th, td {
        border: 1px solid white;
        padding: 8px;
        text-align: left;
      }
      th {
        background-color: grey;
      }
    </style>
  </head>
  <body>
    <p><center>
      <img src="{{ url_for('static', filename='logo.png') }} " alt="logo" style="float:center;width:400px;height:400px;">
      <br>
      <br>
       Your NIP-05 Identifier has be successfully created.
      <br><br>
       To use it, put it into the respective NIP-05 identifier field on the profile in your favourite nostr client.
      <br>
      <br>
      </center>
      </p>
    <center>
    <table>
      <tr>
        <th>Identifier</th>
        <th>Hex Key</th>
        <th>NIP-05 Identifier</th>
      </tr>
      {% for item in content %}
      <tr>
        <td>{{ item[0] }}</td>
        <td>{{ item[1] }}</td>
        <td>{{ item[2] }}</td>
      </tr>
      {% endfor %}
    </table>
    </center>
    <p>
      <center>
        If you like our work, feel free to donate some sats.
        <br><br><br>
        <img src="{{ url_for('static', filename='LNURLp_donations.png') }}" alt="donations" style="float:center;width:400px;height:400px;">
        <br><br><br>
        Thanks for your support!
      </center>
    </p>
  </body>
  
