<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        background-color: black;
        color: white;
      }
      table {
        width: 100%;
        border-collapse: collapse;
      }
      th, td {
        border: 1px solid white;
        padding: 8px;
        text-align: left;
      }
      th {
        background-color: grey;
      }
    </style>
  </head>
  <body>
    <table>
      <tr>
        <th>Identifier</th>
        <th>Hex Key</th>
        <th>NIP-05 Identifier</th>
      </tr>
      {% for identifier, hex_key in names %}
      <tr>
        <td>{{ identifier }}</td>
        <td>{{ hex_key }}</td>
        <td>{{ identifier }}@nostr.lnadresse.de</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>

