<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        background-color: black;
        color: white;
      }
      table {
        width: 80%;
        border-collapse: collapse;
      }
      th, td {
        border: 1px solid white;
        padding: 8px;
        text-align: left;
      }
      th {
        background-color: grey;
      }
    </style>
  </head>
  <body>
    <br><br>
    <center>
    <table>
            <tr>
                <th>Identifier</th>
                <th>Hex Key</th>
                <th>NIP-05 Identifier</th>
            </tr>
            {% for name in names %}
            <tr>
                <td>{{ name[0] }}</td>
                <td>{{ name[1] }}</td>
                <td>{{ name[2] }}</td>
            </tr>
            {% endfor %}
        </table>
    </center>
  </body>
  
