<!DOCTYPE html>
<html>
    <head>
        <title>Identifier and Hex Key Registration</title>
    </head>
    <body>
        <h1>Identifier and Hex Key Registration</h1>
        <form action="http://localhost:5000/register" method="post">
            <p>
                Identifier: <input type="text" name="identifier">
            </p>
            <p>
                Hex Key: <input type="text" name="hex_key">
            </p>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>
