<!DOCTYPE html>
<html>
  <head>
    <title>Registration Form</title>
    <style>
      body {
       background-color: black;
       color: white;
       table {
         margin: 0 auto;
         border: 1px solid black;
         border-collapse: collapse;
       }

       td {
         border: 1px solid black;
         padding: 10px;
       }
      }
    </style>
  </head>
  <body>
    <center>
    <h2>Register your NIP-05 identifier with your hex format public key:</h2>
    <form method="post">
      <table>
        <tr>
          <td><label for="identifier">Your Profile Name:</label></td>
          <td><input type="text" id="identifier" name="identifier" size=50 required></td>
        </tr>
        <tr>
          <td><label for="hex_key">Hex Pub Key:</label></td>
          <td><input type="text" id="hex_key" name="hex_key" size=50 required></td>
        </tr>
          <tr>
            <td><input type="submit" value="Submit"></td>
            <td></td>
        </tr>  
      </table>
    </form>
    </center>
  </body>
  
  </body>
</html>
