/* General styles */
body {
  background-color: black;
  color: white;
  align-items: center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Top frame styles */
.top-frame {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  padding: 10px;
}

.logo {
  width: 100px;
  height: auto;
}

.menu-toggle {
  color: white;
  font-size: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.menu {
  display: none;
  position: absolute;
  top: 70px;
  right: 10px;
  background-color: #222;
  padding: 10px;
}

.menu.open {
  display: block;
}

.menu a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px 0;
  border-bottom: 1px solid white;
}

.menu a:last-of-type {
  border-bottom: none;
}
