<!DOCTYPE html>
<html>
  <head>
    <meta name="description" content="Nostr is a platform utilizing cryptography and decentralized network technology to revolutionize social media. Join us in creating a new era of freedom and privacy online.">
    <meta name="keywords" content="Nostr, nostr, NIP-05, Bitcoin, Decentralized Social Media, Freedom, Privacy, cryptography, cypherpunks, identifier, public key, private key, key pair">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='logo_url.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <div class="top-frame">
      <img src="{{ url_for('static', filename='logo.png') }}" alt="Nostr logo" class="logo">
      <button class="menu-btn" id="menu-btn"></button>
      <div class="nav-items" id="nav-items">
        <button class="close-btn" id="close-btn">&times;</button>
        <ul>
          <li><a href="{{ url_for('home') }}">HOME</a></li>
          <li><a href="{{ url_for('info') }}">INFO</a></li>
          <li><a href="{{ url_for('register') }}">REGISTER</a></li>
        </ul>
      </div>
    </div>
    <div class="main-frame">
      <div class="iframe-container">
        <iframe name="bottom-frame" frameborder="0" src="{{ url_for('home') }}"></iframe>
      </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
